{% extends 'base.html.twig' %}

{% block title %}Saison{% endblock %}

{% block body %}
    <h1>Saison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ saison.id }}</td>
            </tr>
            <tr>
                <th>NumSaison</th>
                <td>{{ saison.numSaison }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('saison_index') }}">back to list</a>

    <a href="{{ path('saison_edit', {'id': saison.id}) }}">edit</a>

    {{ include('saison/_delete_form.html.twig') }}
{% endblock %}
